################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/New/.vs/SE271_TeamProject/v16/Browse.VC.db
