################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/New/.vs/SE271_TeamProject/v16/Browse.VC.db
/New/.vs/SE271_TeamProject/v16/Browse.VC.opendb
/New/.vs/SE271_TeamProject/v16/ipch/AutoPCH
/New/Debug/SE271_Te.49642D74.tlog
/New/Debug
/New/.vs/SE271_TeamProject/v16
/.vs/SE271_TeamProject/v16
/.vs
/New/SE271_TeamProject.vcxproj
/New/SE271_TeamProject.sln
/New/SE271_TeamProject.vcxproj.filters
/New/SE271_TeamProject.vcxproj.user
